.main-container {
  padding: 0.4rem;

  .navlinks {
    text-transform: capitalize;
    color: rgb(175, 175, 175);
    cursor: pointer;
    font-size: 0.8rem;
    letter-spacing: 0.05  rem;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .logo-navbar {
    width: 1.5rem;
    height: 1.2rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .navbartext{
    font-size: 0.8rem;
  }
}
